<h2 id='title'>Whitelabel</h2>

<a href="https://wlabel.harvestapp.com/oauth2/authorize?client_id=GKziWg1e5IqQ31P_xmGt8Q&redirect_uri=http://localhost:4567/token/harvest/callback&state=optional-csrf-token&response_type=token">Login with Harvest</a>

{{outlet}}
